<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>libjava.jnilib</string>
	<key>CFBundleGetInfoString</key>
	<string>Java for Mac OS X (1.6.0_65-b14-466.1)</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.javajdk16</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Java SE 6</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>15.0.0</string>
	<key>CFBundleSignature</key>
	<string>???</string>
	<key>CFBundleVersion</key>
	<string>15.0.0</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>11G63</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11G63</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0410</string>
	<key>DTXcodeBuild</key>
	<string>11G63</string>
	<key>JavaVM</key>
	<dict>
		<key>JVMCapabilities</key>
		<array>
			<string>JNI</string>
			<string>BundledApp</string>
			<string>WebStart</string>
			<string>Applets</string>
			<string>CommandLine</string>
		</array>
		<key>JVMMaximumFrameworkVersion</key>
		<string>*.*.*</string>
		<key>JVMMaximumSystemVersion</key>
		<string>10.*.*</string>
		<key>JVMMinimumFrameworkVersion</key>
		<string>14.9.0</string>
		<key>JVMMinimumSystemVersion</key>
		<string>10.7.0</string>
		<key>JVMPlatformVersion</key>
		<string>1.6</string>
		<key>JVMVendor</key>
		<string>Apple Inc.</string>
		<key>JVMVersion</key>
		<string>1.6.0_65-b14-466.1</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2010-2013 Apple Inc. All rights reserved.</string>
</dict>
</plist>
